@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway');
*{
    box-sizing: border-box;
    font-family: "Raleway";
}
h1, h2, h3{
    font-family: "EB Garamond";
}
body{
    background-color: #00beff;
    margin: auto;
}
div{
    background-color: white;
}
li a{
    color: #00beff;
    text-decoration: none;
    font-weight: bolder;
}
/* Header CSS */
header{
    background-color: #435799;
    width: 100%;
    margin: 0;
}
header>div{
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}
header div>a>img{
    width: 33%;
}
header div.three div{
    text-align: left;
}
header img{
    width: 100%;
}
header div>nav>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav>ul>li>a{
    padding: 15px;
}
header nav>ul>li>a:hover{
    background-color: rgba(91, 183, 211, 0.5);
    color: rgb(71, 0, 142);
    border: solid 1px rgb(91, 183, 211);
    transition: .5s;
}
header li>a{
    border: solid 1px #00beff;
    display: inline-block;
}
header div{
    background-color: #435799;
}
header li>div>a{
    border: solid 1px #00beff;
}
header ul>li{
    display: inline-block;
}
header nav>ul>li>div>a{
    list-style: none;
}
header nav>ul>li>div>a:hover{
    background-color: rgba(91, 183, 211, 0.5);
    color: rgb(71, 0, 142);
    border: solid 1px rgb(91, 183, 211);
    transition: .5s;
}
header nav>ul>li>div>a{
    margin-top: 4px;
}
header div>nav{
    width: 100%;
    text-align: right;
    display: block;
}
header div>button{
    display: none;
}
header div>h1{
    width: 100%;
    font-size: 4em;
    text-align: center;
}
/*index css*/
#index main{
    margin: auto;
    width: 50%;
}
#index main section article{
    padding: 15px;
    background: white;
}
#index footer{
    align-items: stretch;
}
#index footer a{
    text-decoration: none;
    color: #00beff;
}
#index footer a:hover{
    text-decoration: none;
    color: rgb(71, 0, 142);
    transition: .5s;
}
#index footer div{
    min-height: 160px;
}
/*About Me css*/
#am .wrapper{
    padding: 15px;
}
#am main{
    background-image: url(../images/pexels-photo-735911.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}
#am main>article{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    text-align: justify;
}
#am footer div{
    width: 33.33%;
    padding: 0;
}
#am main{
    min-height: 617px;
}
#am main article h2,p{
    opacity: 1;
}
#am main a{
    text-decoration: none;
    color: #00beff;
}
#am main a:hover{
    text-decoration: none;
    color: rgb(71, 0, 142);
    transition: .5s;
}
#am aside h3{
    margin: auto;
}
#am div>div.flex{
    align-items: stretch;
}
#am footer>div>img{
    width: 100%;
}
#am .flex1{
    width: 74%;
}
#am .flex2{
    width: 26%;
}
/*Letters of Recomendation css*/
#lor main{
    align-items: stretch;
}
#lor main div{
    padding: 15px;
    width: 50%;
}
#lor footer{
    padding: 15px;
    width: 50%;
}
#lor footer a{
    text-decoration: none;
    color: #00beff;
}
#lor footer a:hover{
    text-decoration: none;
    color: rgb(71, 0, 142);
    transition: .5s;
}
/*Web Projects css*/
#wp main{
    flex-wrap: wrap;
}
#wp main article{
    padding : 15px;
}
#wp main a{
    text-decoration: none;
    color: #00beff;
}
#wp main a:hover{
    text-decoration: none;
    color: rgb(71, 0, 142);
    transition: .5s;
}
#wp main div{
    width: 50%;
}
#wp main img{
    width: 100%;
}
/*Sample Writing css*/
#sw main{
    padding: 15px;
    text-align: center;
}
#sw .next button, .previous button{
    font-size: 40px;
    display: block;
    background: white;
    border: none;
    padding: 15px;
}
#sw .next{
    position: absolute;
    top: 50vh;
    right: 25vw;
}
#sw .previous{
    position: absolute;
    top: 50vh;
    left: 25vw;
}
#sw main>div{
    display: none;
}
/*Programming Skills css*/
#ps main article{
    padding: 15px;
}
#ps main{
    flex-wrap: wrap;
    justify-content: space-between;
}
#ps main div{
    width: 50%;
}
#ps main img{
    width: 100%;
}
/*Portfolio css*/
#por main{
    padding: 15px;
}
#por footer.flex{
    align-items: stretch;
}
#por footer a{
    text-decoration: none;
    color: #00beff;
}
#por footer a:hover{
    text-decoration: none;
    color: rgb(71, 0, 142);
    transition: .5s;
}
/*Contact css*/
#con main{
    margin: auto;
    width: 43.3%;
}
#con main section{
    background: white;
    padding: 1px 15px;
}
#con footer article, footer div{
    width: 25%;
    padding: 15px;
}
#con .flex1{
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
}
#con footer article{
    background: white;
}
/*Resumé css*/
#res main, aside{
    padding: 15px;
}
#res div>main a, aside a{
    text-decoration: none;
    color: #00beff;
}
#res main a:hover, aside a:hover{
    text-decoration: none;
    color: rgb(71, 0, 142);
    transition: .5s;
}
#res .flex2{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
#res .flex2 div{
    width: 50%;
}
#res .flex2 section{
    width: 50%;
}
#res h2{
    width: 100%;
    text-align: center;
}
/* Classes */
.flex {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}
.wrapper{
    background: white;
    margin: 0 auto;
    max-width: 1280px;
}
.menu-list{
    display: block;
    position: relative;
    display: inline-block;
}
.menu-list:hover .list-content{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.list-content a{
    padding: 10px;
    display: block;
    width: 100%;
}
.list-content>a:last-child{
    padding-bottom: 10px;
}
.list-content{
    display: none;
    text-align: left;
}
.right{
    text-align: right;
}
.flex.three div {
    width: 33.333%;
}
@media screen and (max-width: 1024px) and (min-width: 481px){
    
header div>nav{
    display: none;
}
header div>button{
    background: none;
    border: none;
    display: block;
    z-index: 2;
    position: absolute;
    right: 4vw;
    top: 5vh;
}
}