@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway');
*{
    box-sizing: border-box;
    font-family: "Raleway";
}
h1, h2, h3{
    font-family: "EB Garamond";
}
body{
    background-color: #00beff;
    margin: auto;
}
div{
    background-color: white;
}
li a{
    color: #00beff;
    text-decoration: none;
    font-weight: bolder;
}
/* Header CSS */
header{
    background-color: #435799;
    width: 100%;
    margin: 0;
}
header div>a>img{
    width: 33%;
}
header img{
    width: 100%;
}
header div>nav>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav>ul>li>a{
    padding: 15px;
}
header li>a{
    border: solid 1px #00beff;
    display: inline-block;
}
header div{
    background-color: #435799;
}
header li>div>a{
    border: solid 1px #00beff;
}
header ul>li{
    display: inline-block;
}
header nav>ul>li>div>a{
    list-style: none;
}
header nav>ul>li>div>a{
    margin-top: 4px;
}
header div>nav{
    width: 100%;
    text-align: center;
}
header div>h1{
    width: 100%;
    font-size: 4em;
    text-align: center;
}
/*index css*/
#index main{
    margin: auto;
    width: 50%;
}
#index main section{
    padding: 15px;
}
#index main section article{
    padding: 15px;
    background: white;
}
#index footer div{
    min-height: 160px;
}
/*Contact css*/
#con main{
    margin: auto;
    width: 43.3%;
}
#con main section{
    background: white;
    padding: 1px 15px;
}
#con footer article, footer div{
    width: 25%;
    padding: 15px;
}
#con .flex1{
    justify-content: space-around;
    align-content: space-around;
}
#con footer article{
    background: white;
    min-height: 28.2vh;
}
/*Resumé css*/
#res main, aside{
    padding: 15px;
}
#res .flex2{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;;
}
#res .flex2 div{
    width: 50%;
}
#res .flex2 section{
    width: 50%;
}
/* Classes */
.flex {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
}
.wrapper{
    background: white;
    margin: 0 auto;
    max-width: 1280px;
}
.menu-list{
    display: block;
    position: relative;
    display: inline-block;
}
.menu-list:hover .list-content{
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.list-content a{
    padding: 10px;
    display: block;
    width: 100%;
}
.list-content>a:last-child{
    padding-bottom: 10px;
}
.list-content{
    display: none;
    text-align: left;
}
.flex.three div {
    width: 30%;
}